/* src/pages/ProductPage.css */

.product-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 20px 80px;
  min-height: 100vh;
  background-color: #f6f6f6;
}

.product-page-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  max-width: 1240px;
  width: 100%;
  gap: 30px;
  background-color: white;
  padding: 30px;
  margin-block: 50px 80px;
}

.product-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding-bottom: 40px;
  border-bottom: 2px solid #2c2c2c;
}

.product-image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.product-image-section img {
  background: #ffffff;
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.ils-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-details-section {
  width: 100%;
  flex: 1;
}

.product-details-section button {
  margin-bottom: 10px;
}

.product-details-section h1 {
  font-size: 1.3rem;
  color: #333;
  margin: 0 0 1rem;
}

.product-description {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  gap: 20px;
  margin-bottom: 2rem;

  p {
    font-size: 0.8rem;
    color: #555;
    line-height: 1.6;
  }
}

.price-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.original-price {
  font-size: 1rem;
  color: #888;
  text-decoration: line-through;
}

.current-price {
  font-size: 1.6rem;
  color: #141213;
  font-weight: bold;
  margin: 0.5rem 0;
}

.payment-info {
  font-size: 1rem;
  color: #555;
}

.payment-info b {
  font-weight: bold;
  color: #333;
}

.buy-now-btn,
.go-to-cart-btn {
  background-color: #fff;
  color: #4a4e69;
  border: 2px solid #4a4e69;
}

.buy-now-btn:hover,
.go-to-cart-btn:hover {
  background-color: #ededed;
}

.loading-message,
.error-message {
  text-align: center;
  padding: 3rem;
  font-size: 1.5rem;
  color: #777;
}

@media (max-width: 738px) {
  .product-page-card {
    background-color: transparent;
    padding: 0px;
  }

  .product-div {
    flex-direction: column;
  }

  .product-image-section {
    max-width: 350px;
    width: auto;
  }
}
