.status-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 60px 20px;
}

.pending,
.rejected,
.approved {
  display: flex;
  flex-direction: column;
  margin-block: 20px;
  padding: 20px;
  border-radius: 16px;
  gap: 10px;
}

.pending {
  border: 2px solid #fffa00;
}

.rejected {
  border: 2px solid #ff3700;
}

.approved {
  border: 2px solid #1aff00;
}

.card_container_comprados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-block: 20px;
  max-width: 500px;
  justify-self: center;
}

.product_comprados {
  cursor: pointer;
  display: flex;
  background-color: #fff;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #dddddd;
  padding: 10px;
  margin-bottom: 10px;
  transition: 0.2s ease;
  user-select: none;
  height: 120px;
  width: 100%;

  img {
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: top;
  }
}

.product_comprados:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
