.div-search {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}

#img-menu {
  display: none;
}

.div-user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 250px;
  cursor: pointer;

  p {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    list-style: none;
    text-decoration: none;
    color: black;
  }

  img {
    height: 27px;
    width: 27px;
  }
}

.logo_marca img {
  width: 90px;
  object-fit: cover;
}

.cart {
  position: relative;
  span {
    position: absolute;
    display: flex;
    background-color: rgb(240, 0, 0);
    width: 20px;
    height: 20px;
    text-align: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    border-radius: 50%;
    top: -8px;
    right: -10px;
  }
}

.cart-icon,
.user-icon {
  color: var(--secondary);
  background-color: transparent;
  font-size: 20px;
}

@media (max-width: 738px) {
  .div-user {
    width: auto;

    p {
      display: none;
    }
  }

  .logo_marca {
    display: none;
  }
}

@media (min-width: 738px) and (max-width: 1028px) {
  #img-menu {
    display: block;
    cursor: pointer;
    z-index: 2;
    height: 20px;
  }

  .logo_marca img {
    width: 80px;
  }

  .div-user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin: 0;
  }
}
