.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.credit-card-info--form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.split {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 15px;
}

.split input {
  width: 100%;
}
