.product {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid #dddddd;
  padding: 10px;
  margin-bottom: 40px;
  transition: 0.2s ease;
  user-select: none;
  height: 100%;

  img {
    margin-top: 10px;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: top;
  }

  .span-new {
    background-color: #00264e;
    width: 41px;
    height: 22px;
    top: 7px;
    left: 8px;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 700;
    font-size: 10px;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
  }

  .off {
    width: auto;
    height: 22px;
    top: 7px;
    right: 8px;
    background-color: #5ec0be;
    border-radius: 4px;
    padding: 4px 8px;
    color: #ffffff;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: underline;
    position: absolute;
  }
}

.produto__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 6px;
  position: relative;
  padding-bottom: 10px;
  height: 80px;

  h3 {
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 100%;
  }

  p {
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    text-transform: capitalize;
    text-decoration: line-through;
  }

  h4 {
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-transform: capitalize;
    text-decoration: none;
  }

  span {
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;

    b {
      font-family: Nunito Sans;
      font-weight: 700;
      font-size: 12px;
      line-height: 100%;
    }
  }
}

@media (max-width: 738px) {
  .card_container {
    width: 90%;
  }

  .produto__text {
    h3 {
      font-size: 14px;
    }

    h4 {
      font-size: 14px;
    }

    p {
      font-size: 10px;
    }
  }
}

@media (min-width: 738px) and (max-width: 1028px) {
  .produto__text {
    h3 {
      font-size: 14px;
      color: #303030;
    }

    p {
      color: #303030;
    }

    .parcelamento-span {
      color: #303030;

      b {
        color: #303030;
      }
    }
  }
}
