@media (max-width: 738px) {
  /*?NAV DA PÁGINA -------------------------------------------------------------------------------------*/
  .div-nav {
    gap: 20px;
    padding: 25px 20px;
  }

  .div-search {
    img {
      height: 20px;
    }
  }

  #img-menu {
    display: block;
    cursor: pointer;
    z-index: 2;
  }

  .div-user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin: 0;

    #icon_person {
      display: none;
    }

    p {
      display: none;
    }
  }

  .div-span {
    height: 52px;
    padding-inline: 20px;

    p {
      text-align: center;
    }
  }

  .form-input {
    width: 100%;
  }

  .logo_marca {
    display: none;
  }

  .mobile-menu-container {
    position: fixed;
    background-color: #ededed;
    box-shadow: 1px 0px 15px rgb(79, 79, 79);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 20px;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    z-index: 3;

    button {
      align-self: flex-end;
      margin-bottom: 20px;
    }
  }

  .div-ul {
    display: none;
  }

  .div-ul-mobile ul {
    display: flex;
    flex-direction: column;
    width: 190px;
    gap: 10px;

    li {
      font-weight: 700;
      padding: 10px;
      border-bottom: 1px solid #606060;
      transition: color 0.2s ease-in-out;
    }

    li:hover {
      color: var(--primary);
    }
  }

  /*?SECTION DE OUTDOOR -------------------------------------------------------------------------------------*/

  .section-outdoor {
    height: 306px;
  }

  .swiper-slide.outdoor {
    height: 100%;
    padding: 0 10px 0 0;
    margin: 0;

    img {
      min-width: 200px;
      object-position: right;
    }
  }

  .div-outdoor__text {
    text-align: center;
    h2 {
      font-size: 40px;
      text-align: center;

      b {
        font-size: 40px;
        text-align: center;
      }
    }

    p {
      font-size: 12px;
    }

    h3 {
      font-size: 32px;
    }
  }

  /*?SECTION DE FOTO E TEXTO----------------------------------------------------------------------------------------*/

  .section-foto {
    padding: 40px 20px;
    flex-direction: column;
  }

  .div-foto__img {
    img {
      width: 391px;
      height: 100%;
    }
  }

  .div-foto__text {
    height: 100%;
    padding: 20px 25px;

    h2 {
      font-size: 24px;
    }

    p {
      font-size: 14px;
    }
  }

  /*?SEGUNDA SECTION DE FOTO E TEXTO----------------------------------------------------------------------------------------*/

  .section-foto2 {
    padding: 40px 20px;
    flex-direction: column-reverse;
  }

  .div-foto__img2 {
    img {
      width: 349px;
      height: 349px;
      object-fit: cover;
    }
  }

  .div-foto__text2 {
    h2 {
      font-size: 20px;
    }

    p {
      font-size: 12px;
    }
  }

  .div-text-location {
    img {
      width: 60px;
      height: 60px;
    }
  }

  /*?SECTION DE BANNER----------------------------------------------------------------------------------------*/

  .section-banner {
    height: 449px;

    div {
      height: 75px;

      p {
        font-size: 18px;
      }
    }
  }

  /*?FOOTER--------------------------------------------------------------------------------------------------*/

  .footer1 {
    height: auto;
    width: 100vw;
    padding: 20px 0;
  }

  .div-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .div-logo-social {
    padding: 30px;
  }

  .div-links {
    width: 100%;
    padding-inline: 16px;

    p {
      display: none;
    }
  }

  .div-links.aberto p {
    display: block;
    text-align: start;
    padding: 0px 30px;
    cursor: pointer;
  }

  .div-links h3 {
    justify-content: space-between;
    padding: 16px 30px;
    display: flex;
    cursor: pointer;
    border-block: 1px solid #dddddd;
    width: 100%;
  }

  .div-links h3 img {
    transition: transform 0.3s ease-in-out;
    display: block;
    width: 15px;
  }

  .div-links.aberto h3 img {
    transform: rotate(180deg);
  }

  .meios-pagamento {
    flex-wrap: wrap;
    height: auto;
    padding: 0 30px;
  }

  /*SEGUNDA PARTE DO FOOTER---------------------------------------------------*/

  .div-footer2 {
    padding: 40px 20px;
    gap: 30px;
    height: auto;
  }

  .parceiros {
    gap: 30px;
  }

  /*?RESPOSTA DA PESQUISA--------------------------------------------------------------------------------------------------*/

  .resposta {
    position: absolute;
    top: 180px;
    left: 40px;
  }

  .resposta-vazia {
    position: absolute;
    top: 180px;
    left: 35px;
  }
}
