@media (min-width: 739px) and (max-width: 1028px) {
  /*?NAV DA PÁGINA -------------------------------------------------------------------------------------*/

  .div-nav {
    gap: 20px;
    padding: 25px 20px;
  }

  .div-search {
    img {
      height: 20px;
    }
  }

  .logo_marca {
    display: none;
  }

  #img-menu {
    display: block;
    z-index: 2;
  }

  .div-user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin: 0;

    #icon_person {
      display: none;
    }

    p {
      display: none;
    }
  }

  .mobile-menu-container {
    position: fixed;
    background-color: #ededed;
    box-shadow: 1px 0px 15px rgb(79, 79, 79);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 20px;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    z-index: 3;

    button {
      align-self: flex-end;
      margin-bottom: 20px;
    }
  }

  .div-ul {
    display: none;
  }

  .div-ul-mobile ul {
    display: flex;
    flex-direction: column;
    width: 190px;
    gap: 10px;

    li {
      font-weight: 700;
      padding: 10px;
      border-bottom: 1px solid #606060;
      transition: color 0.2s ease-in-out;
    }

    li:hover {
      color: var(--primary);
    }
  }

  /*?SECTION DE OUTDOOR -------------------------------------------------------------------------------------*/

  .section-outdoor {
    height: 356px;
  }

  .swiper-slide.outdoor {
    padding: 20px;
    height: 100%;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .div-outdoor__text {
    text-align: center;
    h2 {
      font-size: 45px;

      b {
        font-size: 45px;
      }
    }

    p {
      font-size: 25px;
    }

    h3 {
      font-size: 40px;
    }
  }

  /*?SECTION DE PRODUTOS -------------------------------------------------------------------------------------*/

  .div-produtos__title {
    h2 {
      font-size: 16px;
    }

    button {
      color: #303030;
      text-decoration: underline;
    }
  }

  .produto__text {
    h3 {
      font-size: 14px;
      color: #303030;
    }

    p {
      color: #303030;
    }

    .parcelamento-span {
      color: #303030;

      b {
        color: #303030;
      }
    }
  }

  .swiper-slide {
    padding: 10px;
  }

  /*?SECTION DE FOTO E TEXTO----------------------------------------------------------------------------------------*/

  .section-foto {
    padding: 40px 20px;
  }

  .div-foto__img {
    img {
      width: 391px;
      height: 100%;
    }
  }

  .div-foto__text {
    height: 100%;
    padding: 20px 25px;

    h2 {
      font-size: 24px;
    }

    p {
      font-size: 14px;
    }
  }

  /*?SEGUNDA SECTION DE FOTO E TEXTO----------------------------------------------------------------------------------------*/

  .section-foto2 {
    padding: 40px 20px;
  }

  .div-foto__img2 {
    img {
      width: 349px;
      height: 349px;
      object-fit: cover;
    }
  }

  .div-foto__text2 {
    h2 {
      font-size: 20px;
    }

    p {
      font-size: 12px;
    }
  }

  .div-text-location {
    img {
      width: 60px;
      height: 60px;
    }
  }

  /*?SECTION DE BANNER----------------------------------------------------------------------------------------*/

  .section-banner {
    height: 449px;

    div {
      height: 75px;

      p {
        font-size: 18px;
      }
    }
  }

  /*?FOOTER--------------------------------------------------------------------------------------------------*/

  .footer1 {
    padding: 20px;
  }

  /*SEGUNDA PARTE DO FOOTER---------------------------------------------------*/
  .div-footer2 {
    padding: 40px 20px 20px 20px;
    gap: 30px;
  }
}
