/* src/pages/Admin/Dashboard.css */

.dashboard-container {
  min-height: 100vh;
  padding: 60px 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dashboard-container h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.dashboard-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  button {
    background-color: rgb(38, 48, 93);
    color: #f8f9fa;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    width: 100%;
    max-width: 500px;
  }
}
